
#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
body{
  background-color: hsl(353.77deg 82.8% 18.24%);
}

//Cards
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.landing-img{
  display: block;
  width: 100%;
  height: auto;

  &:hover{
      cursor: url('/varita2.png') 2 2, pointer;
    }
}