//Colors
$card-bg:#0a1a3f;
$card-detail:#fadb10;
$card-borde: #c5a059;

//Todas las cartas
.card-container, .card-container-detail{
  /* Dimensiones y Forma */
    background: $card-bg;
    border: 2px solid $card-detail;
    border-radius: 16px;
    box-shadow: 0 2px 8px #4b286d14;
    padding: 1.5rem 1rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .15s, border-color .15s;

      &:hover{
        transform: translateY(-4px) scale(1.03);
        cursor: url('/varita2.png') 2 2, pointer;
      }
}
.card-imgcard, .cardDetail-imgcard{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid $card-borde;
    background: #fff;
}
  

.card-info, .cardDetail-info { 
    color: $card-detail;
}

//Card-List
.card-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1rem;
  justify-content: center;
}

.card-list-title{
  font-size: 1.3rem;
} 

.card-list-form{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 2rem;
}
//boton-varita
.backBtn{
  margin-bottom:2rem;
  margin-left: 2rem;
  display: flex;
  text-align: center;
  justify-items: center;
  border: 3px solid $card-detail;

    &:hover{
      cursor: url('/varita2.png') 2 2, pointer;
    }
}